:root {
  font-family: 'Readex Pro';  
  --rojo: rgba(184, 35, 35, 1);
}

*{
  margin: 0;
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}

body{
   background-color: rgba(236, 234, 234, 0.836);
}

.milk{
  border-bottom: 3px solid red;
  border-radius: 4px;
  
}

